
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Demo </title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 
    <script src="//cdnjs.cloudflare.com/ajax/libs/jsforce/1.9.1/jsforce.min.js"></script>
    <link href="jsonTree.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />
    <script src="jsonTree.js"></script>

</head>

<body>
    <div class="container-fluid">
 
        <!--<div class="jumbotron">
            <h1 class="display-4"> Canvas App Workinga as Expected, Few Observations </h1>
            <p class="lead">
                <ul>
                    <li> OAuth setting needed in Connected App for scope but no use of Callback URL.  </li>
                    <li>  Users must be preapproved for signed request, otherwise OAuth flow would be needed. </li> 
                </ul> 
            </p> 
        </div> -->

        <div id="edicao_account">
            <p>Nome</p>
            <input type="text" placeholder="Nome" id="nome-account" />
            <button onclick="editAccount()">Edit Account</button>
        </div>
     
        <p>
            <div id="reqCode">

            </div>
        </p>

    </div>  
    <script>
        let req = "<%= req %>"  ; 
        var decodedString = req.split('&#34;').join('"')  ;  
        console.log('decodedString:'+decodedString);
        var wrapper = document.getElementById("reqCode");
        // or from a string by JSON.parse(str) method
        var dataStr = decodedString;
        var data = null;
        try {
            data = JSON.parse(dataStr);
        } catch (e) {}

        var url = data.client.instanceUrl + data.context.environment.record.attributes.url;
        console.log(url);

        function editAccount() {
            var accountName = document.getElementById('nome-account').value;
            var conn = new jsforce.Connection({ signedRequest: data });
            conn.instanceUrl = data.client.instanceUrl;
            conn.query('SELECT Id, Name FROM Account WHERE ID = ' + data.context.environment.record.Id , function(err, res) {
                if (err) { return console.error(err); }
                console.log(res);
            });
        }

        // Create json-tree
        var tree = jsonTree.create(data, wrapper);  
    </script>
</body> 
</html>